<h4>Hello, {{name}}</h4>
<p [hidden] = 'hideParagraph'> {{ paragraph }}</p> 

<button (click) = toggle()>Click</button>

<div *ngIf="rooms.availableRooms"> 
  <h5 [ngStyle]="{color: 'purple'}">Rooms</h5> 
  <ul>
    <li>Total rooms: {{rooms.totalRooms}}</li> 
    <li>Available rooms: {{rooms.availableRooms}}</li>
    <li>Booked Rooms: {{rooms.bookedRooms}}</li>
  </ul>
</div>

<h5>Rooms</h5>
<div *ngFor="let room of roomList">  
  <ol> 
    <li>Total rooms: {{room.roomType}}</li> 
    <li>Available rooms: {{room.amenities| titlecase}}</li>
    <li>Booked Rooms: {{room.price | currency: 'ksh'}}</li>
    <li>Booked Rooms: {{room.checkinTime | date: 'dd/MM/yyyy'}}</li> 
    <li>Booked Rooms: {{room.checkoutTime | date}}</li>
  </ol> 
</div>